.order-modal-background {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  /* position in center of viewport */
  position: fixed;
  top: 0;
  left: 0;
  cursor: auto;
}
.order-modal-content {
  /* TODO */
  background-color: white;
  width: 100%;
  overflow-y: scroll;
  max-width: fit-content;
  max-height: 70%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.order-header > h2 {
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* X button */
.order-header > button {
  height: 5vh;
  width: 5vh;
  border: 1px solid black;
  border-radius: 5px;
}
.order-header > button:hover {
  background-color: red;
  cursor: pointer;
}
.order-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo-link {
  height: 20vh;
  width: 20vw;
  margin-bottom: 15px;
}
a > img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 15px;
}

a > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
