html,
body {
  height: 100%;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.flex-item-1,
.flex-item-2 {
  margin: 20px;
}

.flex-item-1 > button,
.flex-item-2 > button {
  width: 100%;
  max-width: 25rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
}

.flex-item-1 > button:hover,
.flex-item-2 > button:hover {
  background-color: aliceblue;
  cursor: pointer;
}
