.modal-background {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.modal-content {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  max-width: 35vw;
  height: fit-content;
  background-color: white;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: auto;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 5px;
  align-items: center;
}
/* X button */
.form-header > button {
  height: 5vh;
  width: 5vh;
  border: 1px solid black;
}
.form-header > button:hover {
  background-color: red;
  cursor: pointer;
}

.form-container .form-item {
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Add Member Button */
.form-container > button {
  border: 1px solid black;
  width: 100%;
  max-width: 20vw;
  margin-top: 20px;
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  font-size: medium;
}
.form-container > button:hover {
  background-color: #ddd;
  cursor: pointer;
}
.form-container hr {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 30px;
}
.form-item > label {
  width: 10vw;
}
.form-item > input {
  width: 20vw;
  padding: 5px;
  font-size: large;
}
.form-item > select {
  width: 21vw;
  padding: 5px;
  font-size: medium;
}
